{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-contact{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
<div class="intro intro-small">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>{{ .Title }}</h1>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 col-md-8">
      {{ .Content }}
      <ul>
        {{ if .Site.Data.contact.phone }}
        <li><strong>Phone: </strong>{{ .Site.Data.contact.phone }}</li>
        {{ end }}
        {{ if .Site.Data.contact.email }}
        <li><strong>Email: </strong><a href="mailto:{{ .Site.Data.contact.email }}">
            {{ .Site.Data.contact.email }}</a></li>
        {{ end }}
        {{ if .Site.Data.contact.address }}
        <li style="white-space: pre-wrap;"><strong>Address: </strong>{{ .Site.Data.contact.address }}</li>
        {{ end }}
        <li>

              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2970.6588058207803!2d-87.62990872346049!3d41.87868677124167!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e2ca33d95977d%3A0x6f34095c8e8e0edb!2s231%20S%20State%20St%2C%20Chicago%2C%20IL%2060604!5e0!3m2!1sen!2sus!4v1684360275046!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          
        </li>
      </ul>
      {{ if .Site.Data.contact.hours }}
      <h4 class="mt-4">Business Hours</h4>
      <table class="table table-sm opening-hours-table">
        {{ range .Site.Data.contact.hours }}
        <tr>
          <td class="day font-weight-bold">{{ .day }}</td>
          <td class="opens">{{ .open }}</td>
          <td>-</td>
          <td class="closes">{{ .close }}</td>
        </tr>
        {{ end }}
      </table>
      {{ end }}
    </div>
    
    
  </div>
</div>
{{ end }}